version: "3.9"
services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: volkan_platform
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
